[Unit]
Description=Gunicorn instance for test-predictor API
After=network.target

[Service]
User={{USER}}
Group=www-data
WorkingDirectory={{HOME}}
Environment="PYTHONUNBUFFERED=1"
Environment="HDF5_USE_FILE_LOCKING=FALSE"
Environment="CUDA_VISIBLE_DEVICES=-1"
Environment="PYTHONPATH={{HOME}}/src/common:{{HOME}}/src"
Environment="PATH={{HOME}}/.venv/bin"

ExecStart={{HOME}}/.venv/bin/gunicorn \
    --worker-class gthread \
    --workers 1 \
    --threads 4 \
    --timeout 300 \
    --preload \
    --bind 0.0.0.0:5000 \
    src.services.api.main:app

Restart=always

[Install]
WantedBy=multi-user.target
