[Unit]
Description=Standalone Python Trainer Service
After=network.target

[Service]
WorkingDirectory={{HOME}}
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONPATH={{HOME}}/src/common:{{HOME}}/src"
Environment="PATH={{HOME}}/.venv/bin"

# Run the script directly
ExecStart={{HOME}}/.venv/bin/python3 src/services/jobs/cleaner.py
Restart=always

[Install]
WantedBy=multi-user.target
