[Unit]
Description=Gunicorn instance for test-predictor API
After=network.target

[Service]
User={{USER}}
Group=www-data
WorkingDirectory={{HOME}}/test-predictor
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONPATH={{HOME}}/test-predictor/src/common:{{HOME}}/test-predictor/src"
Environment="PATH={{HOME}}/test-predictor/.venv/bin"

ExecStart={{HOME}}/test-predictor/.venv/bin/gunicorn \
    --worker-class gthread \
    --workers 1 \
    --timeout 300 \
    --preload \
    --bind 0.0.0.0:5000 \
    src.services.api.main:app

Restart=always

[Install]
WantedBy=multi-user.target
