[Unit]
Description=Standalone Python Trainer Service
After=network.target

[Service]
Group=www-data
WorkingDirectory={{HOME}}
Environment="PYTHONUNBUFFERED=1"
Environment="CUDA_VISIBLE_DEVICES=-1"
Environment="TF_CPP_MIN_LOG_LEVEL=2"
Environment="PYTHONPATH={{HOME}}/src/common:{{HOME}}/src"
Environment="PATH={{HOME}}/.venv/bin"

# Run the script directly
ExecStart={{HOME}}/.venv/bin/python3 src/services/jobs/trainer.py
Restart=always

[Install]
WantedBy=multi-user.target