[Unit]
Description=Trigger checks to update ubuntu core images
 
[Timer]
# Timer triggers every 1 hour
OnCalendar=*-*-* *:00:00
Unit=image-generator.service
Persistent=false

[Install]
WantedBy=timers.target